#!/bin/bash

APP_NAME=$1

if [[ -z "$APP_NAME" ]]; then
  echo "app name is required as first argument to the script"
  exit 1
fi

cf set-env "$APP_NAME" AUTH_KEY YOUR-KEY
cf set-env "$APP_NAME" SECURE_AUTH_KEY YOUR-KEY
cf set-env "$APP_NAME" LOGGED_IN_KEY YOUR-KEY
cf set-env "$APP_NAME" NONCE_KEY YOUR-KEY
cf set-env "$APP_NAME" AUTH_SALT YOUR-KEY
cf set-env "$APP_NAME" SECURE_AUTH_SALT YOUR-KEY
cf set-env "$APP_NAME" LOGGED_IN_SALT YOUR-KEY
cf set-env "$APP_NAME" NONCE_SALT YOUR-KEY
cf set-env "$APP_NAME" SITE_NAME YOUR-SITE-NAME
cf set-env "$APP_NAME" SITE_URL YOUR-SITE-URL
cf set-env "$APP_NAME" ACCOUNT_NAME YOUR-ADMIN-USERNAME
cf set-env "$APP_NAME" ACCOUNT_PASS YOUR-ADMIN-PASSWORD
cf set-env "$APP_NAME" ACCOUNT_EMAIL YOUR-ADMIN-EMAIL
